@model IEnumerable<Dom_zdravlja.Models.Lekar>

@{
    ViewBag.Title = "Izbor lekara";
}

<div class="container">
    <h2 class="text-center text-primary" style="margin-top: 30px">Izaberite lekara</h2>
    <br />

    <div class="card">
        <div class="card-header bg-primary text-white">
            <h3 class="card-title">Lista lekara</h3>
        </div>
        <div class="card-body">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Ime</th>
                        <th>Prezime</th>
                        <th>Akcija</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lekar in Model)
                    {
                        <tr>
                            <td>@lekar.Ime</td>
                            <td>@lekar.Prezime</td>
                            <td>
                                @using (Html.BeginForm("IzborTermina", "Pacijent", FormMethod.Post))
                                {
                                    @Html.Hidden("lekarKorisnickoIme", lekar.KorisnickoIme)
                                    <button type="submit" class="btn btn-primary">Pogledaj termine</button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
