@{
    ViewBag.Title = "O nama";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Projekat - Dom zdravlja</p>
<p>Tip - Olakšano polaganje</p>
<p>Predmet - Veb programiranje</p>
<p>Fakultet tehničkih nauka, Univerzitet u Novom Sadu</p>
