@{
    ViewBag.Title = "Kontakt";
}

<h2>@ViewBag.Title</h2>

<address>
    Balzakova 45<br />
    Novi Sad, Srbija<br />
    <abbr title="Broj mobilnog telefona">Phone:</abbr>
    +381611890019
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:dmtr.develop@gmail.com">dmtr.develop@gmail.com</a><br />
    <strong>GitLab:</strong> <a href="https://gitlab.com/dmtrhub">dmtrhub</a>
</address>